{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {# affiche tous le formulaire :
        {{ form(serieForm)}} #}

        {# décomposition légére du formulaire #}
        {{ form_start(serieForm)}}

        {{ form_widget(serieForm)}}
        <button>Create</button>

        {{ form_end(serieForm)}}

    </div>
{% endblock %}

{% block title %}
    The best series | {{ parent() }}
{% endblock %}